<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.possoajudar.app">


    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <!-- quando utilizar Dagger 2  android:name=".application.module.app.LoginApplication" -->
    <application
        android:name=".application.module.app.GoogleAnalyticsApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".application.ui.activities.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".application.ui.activities.Login"></activity>
        <activity android:name=".application.ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"></activity>
        <activity android:name=".application.ui.activities.ContainerFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".application.ui.activities.ListApontamento"/>
        <activity android:name=".application.ui.activities.ListHistorico"/>
        <activity android:name=".application.ui.activities.CadUsuario"/>
        <activity android:name=".application.ui.activities.CadConfServ"/>
        <service android:name=".application.service.ServicoApontamento"
            android:exported="false">
            <intent-filter>
                <action android:name="SERVICO_APONTAMENTO"></action>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fd19a3646e17896488e88ddbbd1963ffe5e2b7e0"
            />
    </application>

</manifest>